{% extends 'MainOffice/base.html' %}

{% load static %}

{% block extrahead %}

{% endblock%}

{% block title %}
{{ title }}
{% endblock%}

{% block content %}
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col">
            {% if object.photo %}
                <img id="photo-preview" src="{{ object.photo.url }}" class="img-fluid rounded-circle" width="300" height="200">
            {% else %}
                <img id="photo-preview" src="{% static 'img/plugProfile.svg' %}" class="img-fluid rounded-circle" width="300" height="200">
            {% endif %}
            {{ form.photo }}
        </div>
        <div class="col">
            <div class="row fs-1">{{ form.last_name }}</div>
            <div class="row fs-1">{{ form.first_name }}</div>
            {% csrf_token %}
            <button type="submit">Сохранить</button>
        </div>
    </div>
</form>



<div class="row gx-5">
    <div class="col">
        <div class="fs-5">Выполненные задания</div>
        <div class="fs-6">Всего постов сделано: {{ total }}</div>
        <div class="fs-5">Сегодняшние посты:</div>
        <div class="mt-1">
            {% for post in posts %}
            <div class="border mt-2">
                <div class="row">
                    <div class="col-2">
                        <img src="{{post.group.photo.url}}" class="img-fluid rounded-circle" width="64" height="64">
                    </div>
                    <div class="col">
                        <div class="row justify-content-start align-items-start">{{ post.group.name }}</div>
                        <div class="row justify-content-end align-items-end" style="max-width: 100%;">{{ post.date }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="col">
        <div>Мои Группы:</div>
        <ul class="nav flex-column">
            {% for group in userProfile.groups_leader.all %}
                <li>
                    <img src="{{group.photo.url}}" class="img-fluid rounded-circle" width="64" height="64">
                    <a href="{{ group.link }}">{{ group.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script>
   const photoInput = document.getElementById('photo-input');
const photoPreview = document.getElementById('photo-preview');

photoInput.addEventListener('change', (event) => {
  const file = event.target.files[0];
  const reader = new FileReader();

  reader.onload = (event) => {
    photoPreview.src = event.target.result;
  };

  reader.readAsDataURL(file);
});

</script>
{% endblock%}